@import './Abstracts/mixins.scss';

body{
    width: 100vw;
    height: 100vh;
    @include flex-center;
    background: -webkit-linear-gradient(158deg, #740992,#4f44a1,#e101ed);                       
     background: linear-gradient(158deg, #740992,#4f44a1,#e101ed);
     margin: 0;                                            
}
@media (max-width: 900px){
    body{
        height: 100%;
    }
}
// input task - espace texte : ajouter une tâche
#task-input {
    @include border-radius(0.5rem);
    @include text(1rem, none);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-inline: 30px;
        // Focus
        &:focus {
        border: #363459;
        box-shadow: 0 0 3px 3px rgba(54, 52, 89, 0.5);
    }
}