.header {
  @include flex-column;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
  background-color: rgba(0, 29, 88, 0.6); 
  @include text(1rem, #fff);
  border-radius: 8px;
  max-width: 900px;
  margin: 2rem auto;

  h1 {
    @include text(2.5rem, #daab64);
    margin-bottom: 0.5rem;
  }

  p {
    @include text(1.2rem, #e0e0e0);
    max-width: 600px;
  }
}
