@import '../Abstracts/mixins';


// ================================================================
// En-tête principal
// ================================================================


.header{
    @include flex-column;
    align-items: center;
    text-align: center;

    padding: 2rem 1rem;
    background-color: #001D58;
    @include text(1rem, #fff);
    @include border-radius(1.5rem);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    max-width: 900px;
    margin: 2rem auto;

    h1 {
        @include text(2.5rem, #daab64);
        margin-bottom: 0.5rem;
    }

    p {
        @include text(1.2rem, #e0e0e0);
        max-width: 600px;
    }
}
