@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#aFaire {
    animation-delay: 0s !important;
}

#enCours {
    animation-delay: 0.6s !important;
}

#termine {
    animation-delay: 1s !important;
}