// ===============================================================
// Bouttons de l'application Kanban
// ===============================================================
@import '../Abstracts/mixins.scss';




.task-controls{
    @include flex-column;
    gap: 50px;
    

    .task-button{
        @include grid-card(3);
        button {
        padding: 0.6rem 1.2rem;
        @include border-radius(01.5rem);
        font-weight: bold;
        cursor: pointer;
        background-color: #020024;
        @include text(1rem, #fff);
            // &:hover {
            //     background-color: #4a7a8c;
            //     color: white;
            //     padding: 0.5rem;                    
            //     }
            //     &:active {
            //         background-color: #363459;
                    // transform: scale(1.10);
                // }

            }
        }
    
    }





